{% extends 'base.html' %}
{% block content %}
<body>


    
        <!-- Header - set the background image for the header in the line below -->
        <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');"></header>
    
        <!-- Content section -->
        <section class="py-4">
          <div class="container">
            <h1>Bem Vindo</h1>
            <p class="lead">O Management Sales esta para auxiliar você a organizar suas vendas.</p>
            <p>Para iniciar sua gestão faça login em nosso sistema e aproveite todos o nossos recurso para torna a gestão de vendas do seu negócio mais organizada.</p>
          </div>
        </section>
    
      </body>
{% endblock %}
