{% extends 'base.html' %}

{% block content %}
    <section class="py-4">
        <div class="container">
            <h1>Olá {{ user.username}}</h1>
            <p class="lead">Agora você pode desfrutar do nosso serviço de gestão de vendas.</p>
            <p>Escolhar o que você deseja fazer:</p>
                <!-- <ul class="list-group" style="padding-right: 30%">
                    <li class="list-group-item">Adicione uma nova venda</li>
                    <li class="list-group-item">Listar minhas vendas ativas</li>
                    <li class="list-group-item">Listar todas minhas vendas</li>
                </ul> -->
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ----
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nova_venda' %}">Adiconar Venda</a>
                        <a class="dropdown-item" href="#">Listar Vendas Ativas</a>
                        <a class="dropdown-item" href="{% url 'all_vendas' %}">Listar Todas as Vendas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Gerar Cálculo das Vendas Ativas</a>
                    </div>
                </div>
        </div>
    </section>
{% endblock %}